<%- include("partials/header.ejs") %>
<a id="back2blogs" href="/blogs?selp=<%= selp %>">&lt; Back to blogs</a>
<div id="articledisplaycontainer">
    <h2 id="articleheading"><%-selart %></h2>
    <div id="blogcontent"><%-selcontent %></div>
</div>

<%- include("partials/footer.ejs") %>